html.dark {
  --appBgColor: #161717;

  --homeHeaderBgColor: #1d1e1f;
  --homeAsideBgColor: #1d1e1f;
  --homeMainBgColor: #202328;
  --homeFooterBgColor: #363739;

  --mainBoxBgColor: #1d1e1f;

  // element-ui样式
  --el-bg-color: #1d1e1f;
}
